{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
  .account-form input {
      border: 2px solid #ccc;
      height: calc(2em + .75rem + 2px);
  }

  .account-form input:focus {
      border-color: #1497ff;
      box-shadow: none;
  }
</style>

<main class="login-body" data-vide-bg="assets/img/login-bg.mp4" >
  <form class="account-form p-4 rounded col-lg-10 mx-auto" action="." method="post">
    {% csrf_token %}
    <div class="login-form" style="    margin-top: 35rem;
    position: initial!important;
    display: block;
    margin-right: auto;
    margin-left: 50vw;
    padding: 2rem!important;
    width: 50rem!important;">
    
<h1 class="mb-2 font-weight-bold">Create an account</h1>
<p class="mb-4">It's free and only takes a minute.</p>

  {% if form.errors %}
  <p>Please correct the following errors:</p>
  {% for field in form %}
  {% if field.errors %}
  <div class="alert alert-primary" role="alert">
      {{ field.label }}: {{ field.errors|striptags }}
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}

  <div class="form-input">
    <label for="name">Type</label>
    
    <select name="type" id="">
      <option>Teacher</option>
      <option>Student</option>
    </select>
    </div>

  <label>{{ form.user_name.label }}<span class="text-muted small">
          (Required)</span></label>
  {{ form.user_name }}
  <label>{{ form.email.label}}<span class="text-muted small">
          (Required)</span></label>
  {{ form.email }}
  <label>{{ form.password.label}}<span class="text-muted mb-4">
          </span></label>
   <small class="form-text text-muted mb-4 small">
      At least 8 characters and 1 digit
  </small>
  {{ form.password }}
  <label>{{ form.password2.label}}<span class="text-muted small">
          (Required)</span></label>
  {{ form.password2 }}
  <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw500 w-100" type="submit">Register</button>
  <p class="text-center">
      <a href="{% url 'account:login' %}">Already have an account?</a>
  </p>
</form>
</main>
{% endblock %}



